.borderexBoxContainer {
  @apply p-4 h-full flex flex-col overflow-hidden;
}
.buttonContainer {
  @apply flex gap-x-2 justify-end items-center;
}
.applicationName {
  @apply max-w-[40rem]
}
.rowContainer {
  @apply flex flex-row items-center gap-4 w-full pl-8;
}
.verticalSeparator {
  @apply hidden md:block
}
.flexWrap {
  @apply flex-wrap gap-y-2 md:flex-nowrap flex-none;
}
.mainIteration {
  @apply py-1 px-2 grow-0;
}
.addFullHeight {
  @apply h-full min-h-0;
}

.scrollableContent {
  @apply flex-1 min-h-0 overflow-y-auto flex flex-col gap-2 w-full;
}

.deploymentItem {
  @apply bg-rich-black rounded-sm px-4 py-2 w-full cursor-pointer transition-colors duration-200 border border-solid border-transparent;
  border-left-width: 2px;
}

.deploymentItem:hover {
  @apply opacity-80;
}

.expiredItem {
  @apply cursor-default opacity-50;
}

.expiredItem:hover {
  @apply opacity-50;
}

.selectedActive {
  border-color: rgba(33, 250, 144, 0.3);
  border-left-color: #21FA90;
}

.selectedDraining {
  border-color: rgba(255, 176, 32, 0.3);
  border-left-color: #ffb020;
}

.deploymentItemHeader {
  @apply flex justify-between items-center mb-2;
}

.currentlyViewing {
  @apply opacity-30;
}

.actionsRow {
  @apply flex flex-row gap-2 items-center;
}

.viewDetailsButton {
  @apply bg-transparent border-none cursor-pointer flex flex-row gap-2 items-center;
}

.deploymentDetailsRow {
  @apply flex flex-row justify-between gap-2;
}

.detailColumn {
  @apply flex flex-col gap-1;
}