.container {
  @apply grow flex flex-col w-full;
  box-sizing: border-box;
  flex-basis: 1rem;
}
.loadingSpinner {
  @apply absolute left-1/2 top-1/2;
  transform: translate(-50%, -50%);
}
.table {
  @apply w-full;
  border-collapse: collapse;
  table-layout: fixed;
}
.th {
  @apply text-left py-2 px-1;
  user-select: none;
}
