.row {
  @apply flex gap-2 h-[18px];
}

.cell {
  @apply w-[29px] h-[18px] shrink-0 flex items-center justify-center rounded-sm box-border transition-opacity duration-100 cursor-pointer;
}

.cellEmpty {
  @apply w-[29px] h-[18px] shrink-0 transition-opacity duration-100 cursor-pointer;
}

.cellDual {
  @apply w-[29px] h-[18px] shrink-0 relative rounded-sm box-border transition-opacity duration-100 cursor-pointer overflow-hidden;
}

.cellDualTop {
  @apply absolute top-0 left-0 w-full h-full flex items-start justify-start;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%); */
  padding: 1px;
}

/** Predictions part */
.cellDualBottom {
  @apply absolute top-0 left-0 w-full h-full flex items-end justify-end opacity-50 bg-[red];
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  padding: 1px;
}

.cellDimmed {
  @apply opacity-20;
}

.cellNum {
  @apply text-[10px] leading-none text-white font-medium;
}

.cellNumDim {
  @apply text-[10px] leading-none text-white/50 font-medium;
}
