.customSmallFlexRow {
  @apply flex flex-row items-center gap-2 justify-end lg:justify-start;
}
.buttonsContainer {
  @apply flex flex-row items-center gap-2 justify-end lg:justify-start;
}
.customSmallFlexRowEnd {
  @apply flex flex-col lg:flex-row gap-2 justify-end;
}
.ellipsis {
  @apply truncate w-full;
}
.previewRow {
  @apply grid grid-cols-3 lg:grid-cols-12 gap-2 w-full top-0 bg-rich-black border-0;
}
.tableSmall {
  @apply flex flex-row gap-x-2 justify-between col-span-1 lg:block;
}
.tableSmallGeneration {
  @apply flex flex-row gap-x-2 justify-between col-span-1 h-[initial] lg:block;
}

.smallLeftMargin {
  @apply ml-6;
}
.colSpan11 {
  @apply md:!col-span-11;
}
.verticalSeparator {
  @apply hidden md:block;
}
.pullRequestDataContainer {
  @apply p-2 w-full rounded-[4px];
}
.generationBoxBorder {
  @apply p-2 h-full flex flex-col justify-center items-center min-w-[4.25rem] rounded-[4px];
  flex: unset;
}
.riskDataContainer {
  @apply p-2 w-full h-full shrink rounded-[4px];
}
.risk100 {
  color: #fa2121;
  border-color: rgba(250, 33, 33, 0.3);
}
.risk85 {
  color: #fc5524;
  border-color: rgba(252, 85, 36, 0.3);
}
.risk75 {
  color: #fd7926;
  border-color: rgba(253, 121, 38, 0.3);
}
.risk65 {
  color: #feb928;
  border-color: rgba(254, 185, 40, 0.3);
}
.risk50 {
  color: #feb928;
  border-color: rgba(254, 185, 40, 0.3);
}
.risk35 {
  color: #c8c942;
  border-color: rgba(200, 201, 66, 0.3);
}
.risk25 {
  color: #a7d351;
  border-color: rgba(167, 211, 81, 0.3);
}
.risk15 {
  color: #6ae56e;
  border-color: rgba(106, 229, 110, 0.3);
}
.risk0 {
  color: #21fa90;
  border-color: rgba(33, 250, 144, 0.3);
}

.divider {
  @apply border-t border-solid border-white/15 grow;
  border-width: 0.5px;
}
.repositoryName {
  @apply max-w-[12rem];
}
.arrow {
  @apply hidden lg:block;
}
.arrowContainer {
  @apply hidden lg:block grow;
  background: url('/icons/rowPreviewArrow.svg') no-repeat center right;
  min-width: 140px;
  height: 16px;
  background-size: cover;
}
.generationContainer {
  @apply order-1;
}
.previewDetailContainer {
  @apply order-4 lg:order-2 col-span-3 lg:col-span-5;
}
.schemaChangesContainer {
  @apply order-2 lg:order-4;
}
.riskContainer {
  @apply order-3 lg:order-4;
}
.boxChange {
  @apply rounded-[2px];
}