.containerTablePreviews {
  @apply grow flex flex-col;
  box-sizing: border-box;
  flex-basis: 1rem;
}
.contentTablePreviews {
  @apply flex flex-col items-start gap-y-4 w-full grow; 
}
.loadingSpinner {
  @apply absolute left-1/2 top-1/2;
  transform: translate(-50%, -50%);
}
.select {
  @apply w-full lg:max-w-[250px] lg:min-w-[250px];
}
.filtersContainer {
  @apply grid grid-cols-2 lg:flex lg:flex-row gap-2 w-full items-center
}
.tablePreviews {
  @apply w-full relative flex flex-col gap-y-4 grow-0 z-10;
  vertical-align: middle;
  border-collapse: collapse;
  overflow-x: hidden;
  transform: translate(0,0);
}
.tableHeaders {
  @apply hidden lg:grid grid-cols-12 gap-x-4 w-full top-0 z-10 border-0 bg-rich-black;
  position: sticky;
}
.tableHeader {
  @apply pb-2 text-left;
}
.tableHeader {
  @apply grow
}

.noActivitiesFound {
  @apply h-full flex flex-col items-center justify-center;
  min-height: inherit;
}
.thWithIcon {
  @apply flex flex-row items-center gap-x-2;
  user-select: none;
}
.boxContainerMainTaxonomy {
  @apply p-2 flex flex-row gap-x-2 items-center justify-center h-full max-w-[3rem] rounded-[4px];
  position: sticky;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  rotate: 180deg;
}
.taxonomyIconContainer {
  rotate: 90deg;
}
.wrapperContainerMainTaxonomy {
  @apply hidden lg:flex flex-row gap-x-0 h-[calc(100%-3.5rem)] w-auto absolute top-[3.25rem];
  z-index: 1;
  overflow-y: auto;
}
.containerRows {
  @apply w-full relative flex flex-col gap-y-2 grow-0;
  vertical-align: middle;
  border-collapse: collapse;
  overflow-x: hidden;
  transform: translate(0,0);
  min-height: calc(100vH - 27rem);
  max-height: calc(100vH - 27rem);
}

.boxSchemaChangesAdded,
.boxSchemaChangesEdited,
.boxSchemaChangesRemoved {
  @apply border border-solid rounded-[2px] h-[0.75rem] w-[0.75rem];
}
.boxSchemaChangesAdded {
  @apply border-main-green;
}
.boxSchemaChangesEdited{
  @apply border-tertiary-blue;
}
.boxSchemaChangesRemoved {
  @apply border-error-red;
}

.tableHeaderSchemaChanges {
  @apply relative;
}
.headerSchemaChanges {
  @apply absolute bottom-[-1rem] w-[calc(100%-1rem)] h-auto left-0 hidden lg:flex flex-row gap-x-2 items-center justify-between;
}
.searchBarPaddingClass {
  @apply px-2 py-1 md:px-3;
}
.selectPaddingClass {
  @apply py-[3px] px-2 md:px-3;
}
.heightSelectClass {
  @apply h-[1.375rem];
}
