.customSmallFlexRow {
  @apply flex flex-row items-center gap-2 justify-end md:justify-start;
}
.buttonsContainer {
  @apply flex flex-row items-center gap-2 justify-end md:justify-start;
}
.customSmallFlexRowEnd {
  @apply flex flex-col md:flex-row gap-2 justify-end;
}
.ellipsis {
  @apply truncate w-full;
}
.row {
  @apply grid  md:grid-cols-12 gap-x-2 w-full items-end h-[2rem];
}
.tableSmallDescription {
  @apply flex flex-row justify-between col-span-1 md:block;
}
.tableSmall {
  @apply flex flex-row gap-x-2 justify-between col-span-1 md:block;
}

.row > .tableSmallDescription > .tableCell:nth-child(odd),
.row > .tableSmall > .tableCell:nth-child(odd) {
  @apply py-0 block md:hidden;
}

.row > .tableSmallDescription > .tableCell,
.row > .tableSmall > .tableCell {
  @apply py-0;
}

.row:last-child > .tableSmall:last-child > .tableCell:last-child {
  border-bottom-right-radius: 5px;
}

.row:last-child > .tableSmall:first-child > .tableCell:last-child {
  border-bottom-left-radius: 5px;
}

.clockWiseRotation {
  animation: rotationClockwise 2s infinite linear;
}
@keyframes rotationClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
div[class*="exportRow"] {
  @apply border-t border-white/15 border-solid py-2;
}
:nth-child(1 of div[class*="exportRow"]) {
  @apply !border-0 pt-2;
}
.smallMargin {
  @apply ml-[6px];
}
.paddingTagEvent {
  @apply px-2 py-0.5;
}
