.container {
  @apply fixed top-0 left-0 w-screen h-full z-20 flex flex-col justify-center items-center bg-rich-black;
}
.content {
  @apply w-full px-10 md:px-0 md:max-w-[40rem] md:mx-auto; 
}
.progressBarContainerAndCounter {
  @apply relative z-10;
}
.progressBarContainer {
  @apply w-full border border-solid border-white/15 rounded-full relative h-[0.625rem] z-[-1];
}
.rightSlidingSphere,
.leftSlidingSphere {
  border-radius: 20px;
  width: 10px;
  background: #21FA90;
  height: 10px;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
}
.rightSlidingSphere {
  right: 10px;
  animation: 1.5s rightToLeftSphere 0s linear;
}
.leftSlidingSphere {
  animation: 1.5s leftToRightSphere 0s linear;
}
.rightSlidingComet, 
.leftSlidingComet {
  border-radius: 20px;
  height: 10px;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  width: 0;
}
.leftSlidingComet {
  background: linear-gradient(-90deg, #21FA90 0%, rgba(33, 250, 144, 0.00) 93.13%);
  animation: 1.5s leftToRightComet 0s linear;
}

.rightSlidingComet {
  right: 10px;
  background: linear-gradient(90deg, #21FA90 0%, rgba(33, 250, 144, 0.00) 93.13%);
  animation: 1.5s rightToLeftComet 0s linear;
}

@keyframes leftToRightSphere {
  0% {
    left: 2px;
  }
  100% {
    left: calc(100% - 10px);
  }
}
@keyframes rightToLeftSphere {
  0% {
    right: 2px;
  }
  100% {
    right: calc(100% - 10px);
  }
}

@keyframes leftToRightComet {
  1% {
    left: calc(1% - 0.25rem + 10px);
    width: 0.25rem;
  }
  4% {
    left: calc(4% - 1rem + 10px);
    width: 1rem;
  }
  25% {
    left: calc(25% - 9rem + 10px);
    width: 9rem;
  }
  95% {
    left: calc(95% - 9rem + 10px);
    width: 9rem;
  }
  100% {
    left: 100%;
    width: 0;
  }
}


@keyframes rightToLeftComet {
  1% {
    right: calc(1% - 0.25rem + 10px);
    width: 0.25rem;
  }
  4% {
    right: calc(4% - 1rem + 10px);
    width: 1rem;
  }
  25% {
    right: calc(25% - 9rem + 10px);
    width: 9rem;
  }
  95% {
    right: calc(95% - 9rem + 10px);
    width: 9rem;
  }
  100% {
    right: 100%;
    width: 0;
  }
  
}
