.container {
  @apply grow flex flex-col w-full overflow-y-auto overflow-x-hidden;
  box-sizing: border-box;
  flex-basis: 1rem;
}
.content {
  @apply flex flex-col items-start gap-y-2 w-full;
}
.servicesBoxContainer { 
  @apply pb-8;
}
.select {
  @apply w-full md:max-w-[150px] md:min-w-[150px];
}
.filtersContainer {
  @apply grid grid-cols-1 md:flex md:flex-row gap-2 w-full items-center pb-4
}
.serviceContainer {
  @apply grid grid-cols-1 md:grid-cols-3 grow overflow-y-auto items-start gap-2 w-full max-h-[calc(40vH)];
}
.searchBarPaddingClass {
  @apply px-2 py-1 md:px-3;
}
.noDataFoundContainer {
  @apply h-[calc(100vH-20rem)];
  box-sizing: border-box;
}