.elementContainer,
.servicesContainer {
  @apply grow relative flex flex-col gap-4;
  flex-basis: 1rem;
}

.content {
  @apply p-4 flex flex-col gap-y-8 grow max-h-[calc(100vH-48px)];
  flex-basis: 1rem;
  box-sizing: border-box;
}

.tabContainerClassName {
  @apply bg-rich-black w-full grow flex flex-col gap-y-2;
}

.tabContentClassName {
  @apply max-h-[calc(100vH-10rem)] overflow-y-auto
}