.customSmallFlexRow {
  @apply flex flex-row items-center gap-2 justify-end md:justify-start;
}
.buttonsContainer {
  @apply flex flex-row items-center gap-2 justify-end md:justify-start;
}
.customSmallFlexRowEnd {
  @apply flex flex-col md:flex-row gap-2 justify-end;
}
.ellipsis {
  @apply truncate w-full;
}
.environmentVariablesRow {
  @apply grid grid-cols-1 md:grid-cols-12 gap-x-4 w-full items-center h-[2rem];
}
.tableSmallDescription {
  @apply flex flex-row justify-between col-span-1 md:block;
}
.tableSmall {
  @apply flex flex-row gap-x-2 justify-between col-span-1 md:block;
}

.environmentVariablesRow > .tableSmallDescription > .tableCell:nth-child(odd),
.environmentVariablesRow > .tableSmall > .tableCell:nth-child(odd) {
  @apply py-0 block md:hidden;
}

.environmentVariablesRow > .tableSmallDescription > .tableCell,
.environmentVariablesRow > .tableSmall > .tableCell {
  @apply py-0;
}

.environmentVariablesRow:last-child > .tableSmall:last-child > .tableCell:last-child {
  border-bottom-right-radius: 5px;
}

.environmentVariablesRow:last-child > .tableSmall:first-child > .tableCell:last-child {
  border-bottom-left-radius: 5px;
}

.clockWiseRotation {
  animation: rotationClockwise 2s infinite linear;
}
@keyframes rotationClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
div[class*="environmentVariablesRow"] {
  @apply border-t border-white/15 border-solid py-2;
}
:nth-child(1 of div[class*="environmentVariablesRow"]) {
  @apply !border-0 pt-0;
}
.smallMargin {
  @apply ml-[6px];
}
.colSpan4 {
  @apply md:!col-span-4;
}
.colSpan7 {
  @apply md:!col-span-7;
}
.event {
  @apply max-w-full md:max-w-[30vW]
}
.verticalSeparator {
  @apply hidden md:block
}
.expandedRowActivity {
  @apply flex flex-col md:flex-row items-start md:items-center gap-x-6 gap-y-2 w-full pb-2;
}
.buttonContainer {
  @apply flex flex-col justify-end w-full;
}